/* http://www.eaglefonts.com/fg-virgil-ttf-131249.htm */
@font-face {
  font-family: "Virgil";
  src: url("fonts/Virgil.woff2");
  font-display: swap;
}

/* https://github.com/microsoft/cascadia-code */
@font-face {
  font-family: "Cascadia";
  src: url("fonts/Cascadia.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Assistant";
  src: url("fonts/Assistant-Regular.woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Assistant";
  src: url("fonts/Assistant-Medium.woff2");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Assistant";
  src: url("fonts/Assistant-SemiBold.woff2");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "Assistant";
  src: url("fonts/Assistant-Bold.woff2");
  font-display: swap;
  font-weight: 700;
}





*{
  font-family: "Cascadia";
  letter-spacing: .5px;
  text-decoration: none;
  --primary-color: #fff;
  --secondary-color: #000;
  --background-color:rgba(243, 234, 155, 0.61); 

}

h4, h2, h1{
  font-family: "Virgil";
  letter-spacing: 1px;
}


html {
  height: 100%;
}
/* body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);

} */

h4 {
 font-size:24px;
 font-weight: 1000;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h4 {
  margin: 0 0 30px;
  padding: 0;
  color: rgb(80, 79, 79);
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(80, 79, 79);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgb(80, 79, 79);
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(80, 79, 79);
  pointer-events: none;
  transition: .5s;
  width:80%
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}



.dropdown-item {
  position: relative;
  display: inline-block;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  /* color: var(--white-font); */
  background-color: #d19c2a;
  max-width: 40%;
  margin: 5px;
  /* background-color: var(--primary-color); */
  color: var(--white-font);
  padding: 5px 0 15px;
  border-radius: 4px;
}
.dropdown-item a{
  all:unset;
  color:var(--white-font) !important
}


.dropdown-item.selected {
  background-color: rgba(32, 229, 255, 0.459);
  border-radius: 5px;
}

  
.dropdown-item:hover {
  background-color: #d19c2a9f;
}

.dropdown-item:hover a{
  background-color: #946d1a8a;
}

  
  .dropdown-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(206, 205, 205, 0.733);
  z-index: -1;
  transition: width 0.3s ease-out;
  }
  
  .dropdown-item:hover::before {
  width: 100%;
  }
  


.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

.card-body{
  padding:30px;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
.song-style *{
  padding:20px
}


.ringedingle{
  padding-left: 20%;
  padding-right: 20%;
}

#raplyrics, #response{
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-top:10px;
  width: 100%;
  height: 175px;
  resize: none;
  font-size: 18px;
}

.restart-button{
  border-color: #000000;
  font-weight: 300;
  border-radius: 50px;
  text-align: center;
  padding: 2px;
  width:50%;
  margin-left: 25%;
}


#submit-box, #lyrics-box, .submit-button{
  border-color: rgb(80, 79, 79);
  border-width: .5px;
  border-style: solid;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 40px;
  padding: 10px;
  
}
#submit-box:hover *, #lyrics-box:hover *, .submit-button *, .restart-button *{
  color:rgb(74, 101, 139);
}
#submit-box:hover, #demo-opener:hover , #lyrics-box:hover, .submit-button:hover, .restart-button:hover{
  background-color: var(--secondary-color);
  border-color: rgb(74, 101, 139);
}

#share-email{
  padding-bottom:10px;
  margin-bottom: 10px;
}

/* ************** MOBILE ************* */
/* Add a media query for mobile devices */
@media screen and (max-width: 768px) {
  /* Adjust the font size for mobile */
  h4 {
    font-size: 18px;
  }
  
  /* Adjust the login box size and padding for mobile */
  .login-box {
    width: 300px;
    padding: 20px;
  }
  #demo{
    width:100vw;
    left:-15vw;
    position:relative;
    text-align: center;
  }

  /* Adjust the input fields for mobile */
  .login-box .user-box input {
    font-size: 14px;
  }

  /* Adjust the label for mobile */
  .login-box .user-box label , label{
    font-size: 12px;
    line-height: 120%;
    padding-bottom: 10px;
  }

  /* Adjust the button for mobile */
  .login-box form a {
    font-size: 14px;
    padding: 8px 16px;
  }

  /* Adjust the card-body padding for mobile */
  .card-body {
    padding: 20px;
  }

  /* Adjust the song-style padding for mobile */
  .song-style * {
    padding: 10px;
  }

  /* Adjust the dropdown-item padding for mobile */
  .dropdown-item {
    padding: 3px;
  }

  /* Adjust the dropdown-item margin for mobile */
  .dropdown-item.selected {
    margin: 5px;
  }

  /* Adjust the ringedingle padding for mobile */
  .ringedingle {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  /* Adjust the textarea width for mobile */
  #raplyrics,
  #response {
    width: 100%;
  }
}


.carousel-inner{
  background-color: var(--background-color);

}

.carousel-item {
  height:100vh;
  text-align: center;
} 


.ringedingle{
  padding-left: 20%;
  padding-right: 20%;
}

#raplyrics, #response{
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-top:10px;
  width: 100%;
  height: 175px;
  resize: none;
  font-size: 18px;
}

.restart-button{
  border-color: #000000;
  font-weight: 300;
  border-radius: 50px;
  text-align: center;
  padding: 2px;
  width:50%;
  margin-left: 25%;
}


#submit-box, #lyrics-box, .submit-button{
  border-color: rgb(80, 79, 79);
  border-width: .5px;
  border-style: solid;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 40px;
  padding: 10px;
  
}
#submit-box:hover *, #lyrics-box:hover *, .submit-button *, .restart-button *{
  color:rgb(74, 101, 139);
}
#submit-box:hover, #demo-opener:hover , #lyrics-box:hover, .submit-button:hover, .restart-button:hover{
  background-color: rgb(220, 220, 220);
  border-color: rgb(74, 101, 139);
}

#share-email{
  padding-bottom:10px;
  margin-bottom: 10px;
}

/* ************** MOBILE ************* */
/* Add a media query for mobile devices */
@media screen and (max-width: 768px) {
  /* Adjust the font size for mobile */
  h4 {
    font-size: 18px;
  }
  
  /* Adjust the login box size and padding for mobile */
  .login-box {
    width: 300px;
    padding: 20px;
  }
  #demo{
    width:100vw;
    left:-15vw;
    position:relative;
    text-align: center;
  }

  /* Adjust the input fields for mobile */
  .login-box .user-box input {
    font-size: 14px;
  }

  /* Adjust the label for mobile */
  .login-box .user-box label , label{
    font-size: 12px;
    line-height: 120%;
    padding-bottom: 10px;
  }

  /* Adjust the button for mobile */
  .login-box form a {
    font-size: 14px;
    padding: 8px 16px;
  }

  /* Adjust the card-body padding for mobile */
  .card-body {
    padding: 20px;
  }

  /* Adjust the song-style padding for mobile */
  .song-style * {
    padding: 10px;
  }

  /* Adjust the dropdown-item padding for mobile */
  .dropdown-item {
    padding: 3px;
  }

  /* Adjust the dropdown-item margin for mobile */
  .dropdown-item.selected {
    margin: 5px;
  }

  /* Adjust the ringedingle padding for mobile */
  .ringedingle {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  /* Adjust the textarea width for mobile */
  #raplyrics,
  #response {
    width: 100%;
  }
}
footer{
  background-color: rgba(243, 234, 155, 0.61);
  position:relative;
  bottom:0;
  z-index: 100;
  opacity:1
}

footer div{
  padding:10px; text-decoration: none;
  /* color:var(--primary-color); */
}
footer *:hover{
  text-decoration: none;
  color:var(--secondary-color);
}
footer * {
  list-style-type: none;
  color:var(--black-font);
  font-family: "Virgil";
}

/* ****************** */
/* MUSIC OVERLAY */
/* ****************** */

:root {
  --primary-color: #ff6f0054;
  --secondary-color: #91ff006e;
  --white-font: #ffffe4;
  --black-font: rgb(80, 80, 80);
}



#carouselExampleIndicators,
.carousel-item {
height: 100vh;
}


.carousel-item {
  max-height: 100vh;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10%;
/* display: flex;
justify-content: center;
align-items: center;
flex-direction: column; */



}

.entry-item {
  width: 50%;
  height: 50px;
  font-size: 16px;
  text-align: left;
  
}

#edit-lyrics{
color: var(--black-font);
}
#final-image{
width: 50%;
height: 50%;
padding:10px
}


/* .dropdown-item:hover {
  background-color: var(--secondary-color);
  text-decoration: none;
} */

.custom-progress {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
z-index: 1000;
}


.custom-progress-bar {
background-color: var(--primary-color);/* Cool shade of green */
border-radius: 10px;
}

textarea{
min-height: 50%;
}

input,
textarea {
width: 80%; /* Adjust the width */
font-size: calc(1em + 0.5vw); /* Make the font size responsive */
text-align: center;
border: none;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
outline: none;
padding: 12px;
margin-bottom: 20px;
transition: box-shadow 0.3s ease;
}

input:focus,
textarea:focus {
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}


input {
height: calc(1.5em + 1vw); /* Adjust the input height */
}

textarea {
height: 30vh; /* Make the textarea bigger */
resize: none; /* Disable resizing */

}


h4, h2, h1, textarea::placeholder{
font-family: "Virgil";
letter-spacing: 1px;
text-transform: lowercase;

}

.funky-spinner {
display: flex;
justify-content: center;
align-items: center;
height: 20vh;
}

.spinner-circle {
width: 50px;
height: 50px;
border: 5px solid transparent;
border-top: 5px solid var(--secondary-color);
border-radius: 50%;
animation: spin 1s linear infinite;
}

.spinner {
border: 4px solid rgba(130, 184, 255, 0.1);
width: 50px;
height: 36px;
border-radius: 50%;
border-left-color: #ffffff;
animation: spin 1s linear infinite;
text-align: center;
}

@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

