/* http://www.eaglefonts.com/fg-virgil-ttf-131249.htm */
@font-face {
  font-family: "Virgil";
  src: url("fonts/Virgil.woff2");
  font-display: swap;
}

/* https://github.com/microsoft/cascadia-code */
@font-face {
  font-family: "Cascadia";
  src: url("fonts/Cascadia.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Assistant";
  src: url("fonts/Assistant-Regular.woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Assistant";
  src: url("fonts/Assistant-Medium.woff2");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Assistant";
  src: url("fonts/Assistant-SemiBold.woff2");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "Assistant";
  src: url("fonts/Assistant-Bold.woff2");
  font-display: swap;
  font-weight: 700;
}





*{
  font-family: "Cascadia";
  letter-spacing: .5px;
  text-decoration: none;
  --primary-color: #fff;
  --secondary-color: #000;
  --background-color:rgba(243, 234, 155, 0.61); 

}

h4, h2, h1{
  font-family: "Virgil";
  letter-spacing: 1px;
}


html {
  height: 100%;
}
/* body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);

} */

h4 {
 font-size:24px;
 font-weight: 1000;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h4 {
  margin: 0 0 30px;
  padding: 0;
  color: rgb(80, 79, 79);
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(80, 79, 79);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgb(80, 79, 79);
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(80, 79, 79);
  pointer-events: none;
  transition: .5s;
  width:80%
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}



.dropdown-item {
  position: relative;
  display: inline-block;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  /* color: var(--white-font); */
  background-color: #d19c2a;
  max-width: 40%;
  margin: 5px;
  /* background-color: var(--primary-color); */
  color: var(--white-font);
  padding: 5px 0 15px;
  border-radius: 4px;
}
.dropdown-item a{
  all:unset;
  color:var(--white-font) !important
}


.dropdown-item.selected {
  background-color: rgba(32, 229, 255, 0.459);
  border-radius: 5px;
}

  
.dropdown-item:hover {
  background-color: #d19c2a9f;
}

.dropdown-item:hover a{
  background-color: #946d1a8a;
}

  
  .dropdown-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(206, 205, 205, 0.733);
  z-index: -1;
  transition: width 0.3s ease-out;
  }
  
  .dropdown-item:hover::before {
  width: 100%;
  }
  


.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

.card-body{
  padding:30px;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
.song-style *{
  padding:20px
}


.ringedingle{
  padding-left: 20%;
  padding-right: 20%;
}

#raplyrics, #response{
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-top:10px;
  width: 100%;
  height: 175px;
  resize: none;
  font-size: 18px;
}

.restart-button{
  border-color: #000000;
  font-weight: 300;
  border-radius: 50px;
  text-align: center;
  padding: 2px;
  width:50%;
  margin-left: 25%;
}


#submit-box, #lyrics-box, .submit-button{
  border-color: rgb(80, 79, 79);
  border-width: .5px;
  border-style: solid;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 40px;
  padding: 10px;
  
}
#submit-box:hover *, #lyrics-box:hover *, .submit-button *, .restart-button *{
  color:rgb(74, 101, 139);
}
#submit-box:hover, #demo-opener:hover , #lyrics-box:hover, .submit-button:hover, .restart-button:hover{
  background-color: var(--secondary-color);
  border-color: rgb(74, 101, 139);
}

#share-email{
  padding-bottom:10px;
  margin-bottom: 10px;
}

/* ************** MOBILE ************* */
/* Add a media query for mobile devices */
@media screen and (max-width: 768px) {
  /* Adjust the font size for mobile */
  h4 {
    font-size: 18px;
  }
  
  /* Adjust the login box size and padding for mobile */
  .login-box {
    width: 300px;
    padding: 20px;
  }
  #demo{
    width:100vw;
    left:-15vw;
    position:relative;
    text-align: center;
  }

  /* Adjust the input fields for mobile */
  .login-box .user-box input {
    font-size: 14px;
  }

  /* Adjust the label for mobile */
  .login-box .user-box label , label{
    font-size: 12px;
    line-height: 120%;
    padding-bottom: 10px;
  }

  /* Adjust the button for mobile */
  .login-box form a {
    font-size: 14px;
    padding: 8px 16px;
  }

  /* Adjust the card-body padding for mobile */
  .card-body {
    padding: 20px;
  }

  /* Adjust the song-style padding for mobile */
  .song-style * {
    padding: 10px;
  }

  /* Adjust the dropdown-item padding for mobile */
  .dropdown-item {
    padding: 3px;
  }

  /* Adjust the dropdown-item margin for mobile */
  .dropdown-item.selected {
    margin: 5px;
  }

  /* Adjust the ringedingle padding for mobile */
  .ringedingle {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  /* Adjust the textarea width for mobile */
  #raplyrics,
  #response {
    width: 100%;
  }
}


.carousel-inner{
  background-color: var(--background-color);

}

.carousel-item {
  height:100vh;
  text-align: center;
} 


.ringedingle{
  padding-left: 20%;
  padding-right: 20%;
}

#raplyrics, #response{
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-top:10px;
  width: 100%;
  height: 175px;
  resize: none;
  font-size: 18px;
}

.restart-button{
  border-color: #000000;
  font-weight: 300;
  border-radius: 50px;
  text-align: center;
  padding: 2px;
  width:50%;
  margin-left: 25%;
}


#submit-box, #lyrics-box, .submit-button{
  border-color: rgb(80, 79, 79);
  border-width: .5px;
  border-style: solid;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 40px;
  padding: 10px;
  
}
#submit-box:hover *, #lyrics-box:hover *, .submit-button *, .restart-button *{
  color:rgb(74, 101, 139);
}
#submit-box:hover, #demo-opener:hover , #lyrics-box:hover, .submit-button:hover, .restart-button:hover{
  background-color: rgb(220, 220, 220);
  border-color: rgb(74, 101, 139);
}

#share-email{
  padding-bottom:10px;
  margin-bottom: 10px;
}

/* ************** MOBILE ************* */
/* Add a media query for mobile devices */
@media screen and (max-width: 768px) {
  /* Adjust the font size for mobile */
  h4 {
    font-size: 18px;
  }
  
  /* Adjust the login box size and padding for mobile */
  .login-box {
    width: 300px;
    padding: 20px;
  }
  #demo{
    width:100vw;
    left:-15vw;
    position:relative;
    text-align: center;
  }

  /* Adjust the input fields for mobile */
  .login-box .user-box input {
    font-size: 14px;
  }

  /* Adjust the label for mobile */
  .login-box .user-box label , label{
    font-size: 12px;
    line-height: 120%;
    padding-bottom: 10px;
  }

  /* Adjust the button for mobile */
  .login-box form a {
    font-size: 14px;
    padding: 8px 16px;
  }

  /* Adjust the card-body padding for mobile */
  .card-body {
    padding: 20px;
  }

  /* Adjust the song-style padding for mobile */
  .song-style * {
    padding: 10px;
  }

  /* Adjust the dropdown-item padding for mobile */
  .dropdown-item {
    padding: 3px;
  }

  /* Adjust the dropdown-item margin for mobile */
  .dropdown-item.selected {
    margin: 5px;
  }

  /* Adjust the ringedingle padding for mobile */
  .ringedingle {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  /* Adjust the textarea width for mobile */
  #raplyrics,
  #response {
    width: 100%;
  }
}
footer{
  background-color: rgba(243, 234, 155, 0.61);
  position:relative;
  bottom:0;
  z-index: 100;
  opacity:1;
  text-decoration: none;

}

footer div{
  padding:10px; text-decoration: none;
  /* color:var(--primary-color); */
}
footer *:hover{
  text-decoration: none;
  color:var(--secondary-color);
  /* transform */
  transition: transform 0.5s ease-in-out;
}
footer * {
  list-style-type: none;
  text-decoration: none;
  color:var(--black-font);
  font-family: "Virgil";
}

/* ****************** */
/* MUSIC OVERLAY */
/* ****************** */

:root {
  --primary-color: #ff6f0054;
  --secondary-color: #91ff006e;
  --white-font: #ffffe4;
  --black-font: rgb(80, 80, 80);
}



#carouselExampleIndicators,
.carousel-item {
height: 100vh;
}


.carousel-item {
  max-height: 100vh;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10%;
/* display: flex;
justify-content: center;
align-items: center;
flex-direction: column; */



}

.entry-item {
  width: 50%;
  height: 50px;
  font-size: 16px;
  text-align: left;
  
}

#edit-lyrics{
color: var(--black-font);
}
#final-image{
width: 50%;
height: 50%;
padding:10px
}


/* .dropdown-item:hover {
  background-color: var(--secondary-color);
  text-decoration: none;
} */

.custom-progress {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
z-index: 1000;
}


.custom-progress-bar {
background-color: var(--primary-color);/* Cool shade of green */
border-radius: 10px;
}

textarea{
min-height: 50%;
}

input,
textarea {
width: 80%; /* Adjust the width */
font-size: calc(1em + 0.5vw); /* Make the font size responsive */
text-align: center;
border: none;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
outline: none;
padding: 12px;
margin-bottom: 20px;
transition: box-shadow 0.3s ease;
}

input:focus,
textarea:focus {
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}


input {
height: calc(1.5em + 1vw); /* Adjust the input height */
}

textarea {
height: 30vh; /* Make the textarea bigger */
resize: none; /* Disable resizing */

}


h4, h2, h1, textarea::placeholder{
font-family: "Virgil";
letter-spacing: 1px;
text-transform: lowercase;

}

.funky-spinner {
display: flex;
justify-content: center;
align-items: center;
height: 20vh;
}

.spinner-circle {
width: 50px;
height: 50px;
border: 5px solid transparent;
border-top: 5px solid var(--secondary-color);
border-radius: 50%;
animation: spin 1s linear infinite;
}

.spinner {
border: 4px solid rgba(130, 184, 255, 0.1);
width: 50px;
height: 36px;
border-radius: 50%;
border-left-color: #ffffff;
animation: spin 1s linear infinite;
text-align: center;
}

@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

#about{
  font-size:24px
}




/* MUSIC-STYLE CSS */



/* ****************** */

/* ****************** */

/* ****************** */

/* ****************** */

/* ****************** */





/* ****************** */
/* MUSIC OVERLAY */
/* ****************** */
/* 
#music-player,#music-player *{
  all:unset;
} */
/* when #music-player is present do not display anything else */
/* #music-player ~ *{
  display:none;
} */


/* ****************** */
/* MUSIC OVERLAY */
/* ****************** */



:root, #music-player{
  --menu-color: #000000;
  --lyrics-color: rgb(255, 255, 255);
  --font-family: "Montserrat",sans-serif;
  text-transform: capitalize;
}
/* html,body{
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  overflow: hidden;
} */
#music-player{
  /* background: none; */
  background-image: linear-gradient(315deg, #837f5a 0%, #926003 74%);
  opacity:0.75;
  width:100%;
  height:100vh;
}
#album-art{ 
  position:fixed; z-index:-1; left: 50%; transform: translateX(-50%);opacity: 0.55;width: auto; height: 100%;
}
#top-bar{
  position: fixed;
  margin-top: 1%;
  height: 8vh;
  color: white;
  width: 90%;
  padding: 0 0 0 5%;
  z-index: 50;
}
#top-bar > *{ position:fixed; }
#top-bar button{ margin:0;background: inherit; border: none; color: white; font-size: 100%;vertical-align:text-bottom;transform:translateY(-40%);padding: 5px 10px;}
#back{position:fixed;top:5vh; background-color: #333}
#about-song{ width: 60%; margin: 0 5%; line-height: 1vh; font-size:70%;}
.artist-name, .song-name{ 
  /* position:fixed; */
  width:100%;
  color: #141414; font-family: "Virgil"; text-transform: capitalize; padding:10px; margin-top:30vh; opacity:1; z-index: 1; 
background-color: rgba(243, 234, 155, 0.945); opacity: .95;
/* make background only cover the text */
padding: 10px;
margin: 0; 
display: block;
}
.artist-name{ 
  top:11vh;
}
.song-name{ 
  top:2vh;
}


#lyrics{
  
  width: 100%;
  height: 75vh;
  color: var(--lyrics-color);
  text-align: center;
  overflow-Y: scroll;
  font-size: 2vh;
  align-items: center;


}
#lyrics-content{
  /* padding: 20vh 0; */
  margin-top: 10vh;
  margin-bottom:10vh;
  transition: ease 0.1s all;
  width:60vw;
  margin-left:20vw;
  text-align: center;
  align-items: center;
}
#lyrics h4:not(.artist-name){
  opacity: 0.75;
  padding-top:2vh;
    /* make a shadow and a slight background color to avoid interfering with the image behind it */
    /* box-shadow: 0 0 10px 10px #00000045; */
    background-color: #00000094;
    transition: ease 0.1s all;
    /* padding: 0 5%; */
    display: inline-block;
    width: 100%;
    font-weight: 100;
    /* font-family: "Montserrat",sans-serif; */
    z-index: 50;
    
    
  
}
#lyrics-content h4 {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.829);
  opacity: 1;
  text-decoration: none;
  /* Add letter spacing */
  letter-spacing: 0.1em;
  /* Add a transition for better readability */
  transition: 0.3s;

}

#lyrics .current{
  opacity: 1;
  font-size: 250%;
  padding-bottom:105px;
  transform: translateY(25%);
  background-color: rgb(0, 0, 0);
}
#lyrics .current + h2{
  opacity: 0.5;
  padding:15px;
  font-size: 180%; 
  padding-top: 50px;
}

#player{
  background: rgb(61, 59, 39);
  position: fixed;
  bottom: 10vh;
  height: 20vh;
  width: 100%;
  z-index: 1;
  opacity:.8;
}
#bar{
  position:relative;
  text-align: center;
  width:100%;
  padding-top: 25px;
}

#logo *{
  position: fixed;
  right: 5%;
  bottom:3vh;
  transform: translateX(-50%);
  width: 5vh;
  height: 5vh;
  /* border-radius: 50%; */
  background: transparent;
  padding: 5px;
  box-shadow: 0 0 10px 10px #00000045;
  z-index: 500000;
}

#currentTime,#totalTime{transform:translateY(-50%);padding: 0 2%;font-size: 3vh}
#currentTime,#progress-bar,#totalTime{color: white;display: inline-block;}
#progress-bar{
  position: relative;
  text-align: center;
  height: 0.25em;
  width: 70%;
  border: 1px solid #222;
  background: #333;
  border-radius: 20px;
  margin:0;padding:0;
  cursor: pointer;
  transform: translateY(-160%);
}
#progress{
  height:100%;
  width:0%;
  background: red;
  border-radius: 20px;
  text-align: right;
  transition: ease all;
}
#progress > i{
  position: absolute;
  transform: translate(-50%,-35%);
}
#menu{
  position:relative;
  text-align: center;
  width:100%;
  overflow: hidden;
}
#menu > button{
  padding: 10px 14px;
  border-radius: 50%;
  border: none;
  margin: 0 5px;
  background: inherit;
  color: white;
  font-size: 20px;
  text-align: center;
  opacity: 0.75;
  cursor: pointer;
}
#menu > button > i{
  padding: 5px 3px 5px 5px;
}
#menu > button#play{
  opacity: 1;
  border: 2px solid white;
}
#menu > button:focus{
  outline: none;
}
#playlist{
  position:fixed;
  top:5vh;
  left:0;
  height:80vh;
  width:100%;
  z-index: 4;
  color: var(--lyrics-color);
  background-color: #7f5a8399;
  background-image: linear-gradient(315deg, #7f5a8399 0%, #0d324d99 74%);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s all;
  transform:translateY(-120%);
}
#playlist h2{
  font-family: "Cascada";
  /* propercase */
  text-transform: capitalize;
}
#show-box{
  position: absolute;
  top: 70%;
  left:50%;
  height: 50vh;
  width:90%;
  padding: 4vh;
  transform: translate(-50%,-70%);
  overflow: auto;
}
#show-list{
  position: relative;
  transition: ease-in-out 0.5s all;
  height: 100%;
  width:auto;
}
#show-list .float-song-card{
  position: relative;
  display:inline-block;
  height: 30vw;
  width: 20vw;
  padding: 20px 10px;
  background: #00000089;
  text-align: center;
  font-size: 70%;
  border-radius:8px;
  margin: 4px 10px;
  overflow:hidden;
  cursor: pointer;
}
.float-song-card > .album-art{
  position: absolute;
  top:0;
  left:50%;
  transform: translateX(-50%);
  height:100%;
  width: auto;
  opacity:0.55;
  transition: ease-in-out 0.5s all;
}
.float-song-card:hover > .album-art{
  transform: translateX(-50%) scale(1.2,1.2);
  opacity:.55;
}
.float-song-card > h2,
.float-song-card > h4{position:relative;z-index:49;margin:2px 0; padding:5px}
#playlist > #label{
  width:100%;
  text-align: center;
  font-size:100%;
}
.song{
  font-family: "Cascada";
  text-transform: capitalize;
}
#playlist > #label > h1{ line-height:0;margin: 6vh 0 2.5vh;}
#search{
  background: transparent;
  color: white;
  border:1px solid #ffffff99;
  padding: 8px;
  margin: 2.5vh 0;
  border-radius: 20%;
  font-family: FontAwesome,"Montserrat",sans-serif;
  text-transform: capitalize;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s all;
  width: 12%;
  ;
outline:none;border-radius:8px;border:1px solid #ffffff;width:25vw;padding: 1vh 1.5vw;background: inherit;}


#lyrics::-webkit-scrollbar,#show-box::-webkit-scrollbar{
  width:5px;
}
/* #lyrics::-webkit-scrollbar-track,#show-box::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} */
#lyrics::-webkit-scrollbar-thumb,#show-box::-webkit-scrollbar-thumb{
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 15px;
}
.floating-icon{
  position: absolute;
  bottom: 5%;
  z-index: 1000;
  font-size: 4vh;
  border: 1.5px solid white;
  border-radius: 50%;
  padding: 1vh 2vh;
  background: #222;
}
.floating-icon:nth-child(1){
  right: 3vh;
}
.floating-icon:nth-child(2){
  right: 12vh;
}

.share-container{
  display:none;
  position: fixed;
  padding-top: 2.5vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.445);
  display: flex;
  justify-content: center;
  align-items: center;


}

.share-container > div{
  position: relative;
  /* height: 50vh; */
  min-width: 50%;
  max-width: 600px;
  background:   rgba(250, 245, 197, 0.81); 
  opacity:1;

  /* Put it in the middle of the screen */
  
  margin: auto;
  border-radius: 10px;
  padding: 2vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#share-to-email{
height:fit-content;
/* width:fit-content; */
margin:auto;


  transition: ease-in-out 0.5s all;
}

/* Make all buttons in the share container all neatly line up */
.share-container button, .share-container a{
  width: 100%;
  margin: 1%;
  border-radius: 10px;
  border: none;
  font-size: 2.5vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  background: #f0b680;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: ease-in-out 0.5s all;
}


.share-container button:hover{
  background: #a49935;
  color: rgb(0, 0, 0);
  transform: scale(1.1,1.1);
}
#share {
  position: absolute;
  bottom: 12vh;
  right: 20px;
  font-size: 2vh;
  cursor: pointer;
  color: #000000;
  background-color: rgb(243, 234, 155);
  transition: ease-in-out 0.5s all;
  padding:5px;
  margin: 5px;
  z-index: 1000;
  border-radius: 10px;

}
#regenerate{
    position: fixed;
    bottom: 12vh;
    left: 20px;
    font-size: 2vh;
    cursor: pointer;
    transition: ease-in-out 0.5s all;
    color: #000000;
    background-color: rgb(243, 234, 155);
    padding:5px;
    margin: 5px;
    z-index: 1000;
    border-radius: 10px;
  
}
#share:hover, #regenerate:hover{
  color: #ffffff;
  transform: scale(1.05,1.05);
  /* make a shadow */
  background-color: #222;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.85);

}

footer{z-index: 100000; opacity:1; position:fixed; width:100vw; height:10vh; background-color:rgba(243, 234, 155, 1);  text-decoration: none;}


/* MOBILE MOBILE MOBILE */
@media only screen and (max-height: 500px){
  #show-list .float-song-card{font-size:40% !important;height:60px;width:50px;}
  #playlist > #label{font-size:70%;}
  #search{font-size:10px;padding:4px;width:10px;}
  #search:focus{width:40vw;}
  #playlist > #label > h1{margin:8vh 0 4vh !important;}

}


@media screen and (max-width: 500px){
  #top-bar > button{ font-size: 15px; top:10px; background-color: #333;}
  #top-bar{
    height: 15vh;
  }
  #top-bar > #about-song{ width: 80%; margin: 0 10%; line-height: 1vh; font-size:70%;}
  #top-bar > #about-song *{ font-size:120%;line-height:0; }
  #menu > button{ font-size: 5vw !important; padding: 4px 6px !important;  }
  #progress-bar{
    width: 50% !important;
  }
  #lyrics-content{
    width:90vw;
    margin-left:5vw
  }



}

@media only screen and (min-height: 500px){#currentTime,#totalTime{font-size: 2.25vh !important;}}

/* END MOBILE */
