<!--
=========================================================
* * Black Dashboard - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/black-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)


* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" sizes="76x76" href="/static/media/ringledingle_logo.png">
  <link rel="icon" type="image/png" href="/static/media/ringledingle_logo.png">

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='rdstyle.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='music-style.css') }}">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9463408093997996"
  crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
   <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
   <!-- Nucleo Icons -->
   <!-- <link href="/static/assets/css/nucleo-icons.css" rel="stylesheet" /> -->

   <!-- CSS Files -->
   <!-- CSS Just for demo purpose, don't include it in your project -->
 
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <meta name="description" content="Send funny, personalized eGreeting cards with custom audio using AI technology. Choose from a wide selection of AI-narrated greeting cards for any occasion.">
   <meta name="keywords" content="AI narrated egreeting cards, AI greeting cards, egreeting cards with custom audio">
   <meta name="author" content="Drew Piispanen">

  <title>
  RingleDingle{% block title %}{% endblock %} | Alpha | AI Narrated eGreeting Cards
  </title>
  

  <!-- Specific Page CSS goes HERE  -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>




<body class="">
  <div class="wrapper">

    <div class="main-panel">


      <!-- SPEECHLY COMPONENTS BELOW -->
      <div class="content">

        {% block content %}{% endblock content %}
        
        <!-- <div class="PushToTalkContainer">
          <push-to-talk-button
            appid="29d3a734-0f17-4929-bf4f-15c5972b8454"
            placement="bottom"
            hide="false"
            capturekey=" "
            intro="Push to talk"
            size="80px"
            gradientstop1="#32325d"
            gradientstop2="#5603ad"
          ></push-to-talk-button>
        </div> -->
        <!-- END SPEECHLY -->
      
       

      {% include 'includes/footer.html' %}

    </div>
    
    
  </div>

  {% include 'includes/scripts.html' %}


  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}

</body>


</html>
