{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %} 
{% block content %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RingleDingle offers AI narrated e-greeting cards, personalized poems, and custom images for a fun and friendly experience. Choose from celebrity voices like Johnny Cash and Betty White.">
    <meta name="keywords" content="RingleDingle, AI narrated, e-greeting cards, personalized poems, custom images, celebrity voices, Johnny Cash, Betty White">
    <title>RingleDingle - AI Narrated E-Greeting Cards</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>

  <div class="container w-full text-left border-white bg-white" id="home">
    <a class="hover:no-underline text-black" href="/demo">
      <div class="p-5 font-bold block w-full">
        <img src="static/media/ringledingle_logo.png" alt="" style="max-height: 10vh; display: inline;">
      </div>
      <div class="header p-12 font-bold block">
        <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-9xl block text-black">Welcome to RingleDingle!</h1>
        <h2 class="text-lg p-8 block w-full">AI Narrated E-Greeting Cards with a Personal Touch</h2><p class="text-slate-600 text-black">(click to try)</p>
      </div>
    </a>
        
        
    <div class="row md w-100">
        <div class="flex-col p-8 m-5 mt-10 w-100">
            <h2>About RingleDingle</h2>
            <p class="text-left w-100">RingleDingle is a fun and friendly e-greeting card service that uses advanced AI technology to generate personalized poems for your loved ones. Choose from a variety of celebrity voices, such as Johnny Cash and Betty White, to narrate the poem in an audio file with a backing track. An image of the poem, as interpreted by DALLE, will also be included in the card.</p>
        </div>
        <div class="col flex border-1 text-right p-8 w-full " id="iframe">
            <iframe class="w-full" src="https://ringledingle.com/music" alt="RingleDingle AI Poem Reader" frameborder="0" style="height:100vh; width:100vw; text-align:center; justify-content: center;"></iframe>
            <!-- <img src="/static/media/image.png" alt="RingleDingle Sample Card" class="celebrity-image"> -->
        </div>
        <div class="col p-8 m-5 mt-10 w-100">
            <h2>How it Works</h2>
            <ol class="text-left list-[square]">
                <li>Enter your email and information about the recipient of the RingleDingle.</li>
                <li>Select a celebrity voice to narrate your poem.</li>
                <li>Our AI technology will generate a personalized poem that describes the recipient.</li>
                <li>Choose the poem you like, and our system will generate the full card and/or email, complete with an audio file, AI narration, and an image of the poem as interpreted by DALLE.</li>
            </ol>
        </div>
        <div class="p-10 my-10 w-100">        
            <div class="call-to-action text-center">
            <a href="/demo" class="bg-blue-500 hover:bg-blue-400 text-white p-3 font-bold border-b-4 w-100 hover:no-underline border-blue-700 hover:border-blue-500 leading-6 rounded" role="button">Try RingleDingle Now!</a>
            <label class="p-4" for="" style="display:block">Did we mention it's free?</label>
      </div></div>
    </div>
</div>

{% endblock content %}
