{% extends "layouts/base.html" %}


{% block title %} Dashboard {% endblock %} 
<!-- Specific Page CSS goes HERE  -->


{% block stylesheets %}
<!-- <link rel="stylesheet" href="/static/output.css"> -->


<link rel="stylesheet" href="{{ url_for('static', filename='rdstyle.css') }}">

{% endblock stylesheets %}

{% block content %}

<style>
 
</style>


<!-- with tailwind make a div with a purple background -->


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">25%</li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1">50%</li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2">LOADING</li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3">75%</li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4">100%</li>
  </ol> -->
  <a href="#" class="find-user-button" id="find-user-button">
    <i class="fa fa-search">?</i><input type="text" placeholder="Enter email to find previous audio">
  </a>
  <a href="#" class="back-button" id="back-button" style="display:none">
    <i class="fa fa-arrow-left"></i>
  </a>
  <a href="#" class="forward-button" id="forward-button">
    <i class="fa fa-arrow-right"></i>
  </a>


  <div class="carousel-inner">
    <div class="carousel-item active step1">
      <h2 class="w-100 text-center text-4xl">Who is this from?</h2>
      <input type="text" id="email" class="email entry-item entry-item shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="e.g. drew@ringledingle.com">
      <!-- <label>Please Enter Your Email</label> -->
      <div class="space"></div>
      <!-- <h2 class="w-100 text-center text-4xl">Who is this to?</h2>
      <input type="text" id="recipient-email" class="email entry-item entry-item shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="e.g. somebody@anybody.com">
      <label for="" class="text-sm text-center w-100">(Comma separated for multiple. Leave blank for none - your email will be CC'd after the Dingle is finalized.)</label> -->

    </div>
    <div class="carousel-item step2 w-100 text-center text-4xl">
      <h2>Recipient Information</h2>
      <textarea name="" id="about" cols="30" rows="10" class="entry-item shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="This is for Mike's Birthday. He is 34 years old and plays guitar ... "></textarea>
      <label for="" class="text-sm text-center w-100">What are some fun facts about the recipient you're sending this to?</label>
      
    </div>
    <div class="carousel-item step3">
        <h2 class="w-100 text-center text-4xl">Background Music</h2>
        <div class="card-body singer song-style" >
            <a class="dropdown-item" value="magic.mp3">Magical</a>
            <a class="dropdown-item" value="motiv.mp3">Thoughtful</a>
            <a class="dropdown-item" value="sad.mp3">Sad</a>
            <a class="dropdown-item" value="pensive.mp3">Pensive</a>
            <a class="dropdown-item" value="lullaby.mp3">Lullaby</a>
        </div>
    </div>

    <div class="carousel-item step4">
      <h4>Narrator Style</h4>
      <div class="card-body singer-select singer">
            <a class="dropdown-item" value="alan-rickman">Snape</a>
            <a class="dropdown-item" value="peter-griffin">Peter Griffin</a>
            <a class="dropdown-item" value="frenchy">French Narrator</a>
            <!-- <a class="dropdown-item" value="bugs-bunny-billy-west">Bugs Bunny</a> -->
            <a class="dropdown-item" value="betty-white">Betty White</a>
            <a class="dropdown-item" value="mickey-mouse">Mickey Mouse</a>
            <a class="dropdown-item" value="shrek">Shrek</a>                
            <a class="dropdown-item" value="johnny-cash">Johnny Cash</a>
            <a class="dropdown-item" value="barack-obama">Barack Obama</a>
            <a class="dropdown-item" value="spongebob-vocodes">Spongebob</a>
            <a class="dropdown-item" value="ariel">Ariel</a>
            <a class="dropdown-item" value="john-cena">John Cena</a>
            <a class="dropdown-item" value="pooh-brock-baker">Pooh</a>
      </div>
    </div>
<!-- GENETATE LYRICS AFTER SUBMIT -->
    <div class="carousel-item step3">
      <h2>Generating Lyrics...</h2>
      <div class="funky-spinner">
        <div class="spinner-circle"></div>        
      </div>
    </div>

  
  <div class="carousel-item step4">
      <h2>Edit Lyrics</h2>
      <h4 id="title"></h4>
      <textarea name="" class="entry-item" id="edit-lyrics" cols="30" rows="10"></textarea>
  </div>
  <!-- <h1>RESULTS</h1>
  with FLASK, get the cards/music block:
  <h4 id="final-title">Music</h4>
  <img src="" alt="" id="final-image">
  <p id="final-lyrics"></p> -->

  <div class="carousel-item step6">
    <h2>Generating...</h2>
    
    <p>Ringling the Dingle, this may take a few minutes...</p>
    <div class="funky-spinner">
      <div class="spinner-circle"></div>
    </div>
</div>
  <div class="carousel-item step7" id="music-case" >
  </div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev" style="visibility: hidden;">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next" style="visibility: hidden;">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
<div class="progress custom-progress" style="height: 20px;">
  <div class="progress-bar custom-progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}
<script>
</script>


{% endblock javascripts %}
