{% extends "layouts/base.html" %}


{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<script>$('.carousel').carousel();</script>
<style>
  :root {
      --primary-color: #ff6f0054;
      --secondary-color: #91ff006e;
      --white-font: #ffffe4;
      --black-font: rgb(80, 80, 80);
  }
  
  body {
      font-family: "Poppins", sans-serif;
      background-color: rgb(255, 254, 238);
  }

  #carouselExampleIndicators,
.carousel-item {
    height: 100vh;
}

  
  .carousel-item {
      max-height: 100vh;
      text-align: center;
      margin-top: 5%;
      margin-bottom: 10%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */



    }
  
  .entry-item {
      width: 50%;
      height: 50px;
      font-size: 16px;
      text-align: left;
      
  }
  
  #edit-lyrics{
    color: var(--black-font);
  }
  #final-image{
    width: 50%;
    height: 50%;
    padding:10px
  }

  .dropdown-item {
      max-width: 40%;
      display: inline-block;
      margin: 5px;
      background-color: var(--primary-color);
      color: var(--white-font);
      padding: 5px 0 15px;
      border-radius: 4px;
  }
  
  .dropdown-item:hover {
      background-color: var(--secondary-color);
      text-decoration: none;
  }

  .custom-progress {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


.custom-progress-bar {
    background-color: var(--primary-color);/* Cool shade of green */
    border-radius: 10px;
}

textarea{
  min-height: 50%;
}

input,
textarea {
    width: 80%; /* Adjust the width */
    font-size: calc(1em + 0.5vw); /* Make the font size responsive */
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    padding: 12px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}

input:focus,
textarea:focus {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}


input {
    height: calc(1.5em + 1vw); /* Adjust the input height */
}

textarea {
    height: 30vh; /* Make the textarea bigger */
    resize: none; /* Disable resizing */
    
}

.dropdown-item {
  position: relative;
  display: inline-block;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  color: var(--white-font);
}


.dropdown-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(206, 205, 205, 0.3);
  z-index: -1;
  transition: width 0.3s ease-out;
}

.dropdown-item:hover::before {
  width: 100%;
}


/* http://www.eaglefonts.com/fg-virgil-ttf-131249.htm */
@font-face {
  font-family: "Virgil";
  src: url("static/fonts/Virgil.woff2");
  font-display: swap;
}

/* https://github.com/microsoft/cascadia-code */
@font-face {
  font-family: "Cascadia";
  src: url("static/fonts/Cascadia.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Assistant";
  src: url("static/fonts/Assistant-Regular.woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Assistant";
  src: url("static/fonts/Assistant-Medium.woff2");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Assistant";
  src: url("static/fonts/Assistant-SemiBold.woff2");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "Assistant";
  src: url("static/fonts/Assistant-Bold.woff2");
  font-display: swap;
  font-weight: 700;
}

*{
  font-family: "Cascadia";
  letter-spacing: .5px;
  text-decoration: none;
}

h4, h2, h1, textarea::placeholder{
  font-family: "Virgil";
  letter-spacing: 1px;
  text-transform: lowercase;

}

.funky-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spinner-circle {
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-top: 5px solid var(--secondary-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.spinner {
  border: 4px solid rgba(130, 184, 255, 0.1);
  width: 50px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #ffffff;
  animation: spin 1s linear infinite;
  text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


</style>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">25%</li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1">50%</li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2">LOADING</li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3">75%</li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4">100%</li>
  </ol> -->
  <div class="carousel-inner">
    <div class="carousel-item active step1">
      <h2>Your Email</h2>
      <input type="text" id="email" class="entry-item">
      

    </div>
    <div class="carousel-item step2">
      <h2>Recipient Information</h2>
      <textarea name="" id="about" cols="30" rows="10" class="entry-item" placeholder="This is for Mike's Birthday. He is 34 years old and plays guitar ... "></textarea>
      <label for="">What are some fun facts about the recipient you're sending this to?</label>
    </div>
    <div class="carousel-item step3">
        <h2>Background Mood</h2>
        <div class="card-body singer song-style" >
            <a class="dropdown-item" value="magic.mp3">Magical</a>
            <a class="dropdown-item" value="motiv.mp3">Thoughtful</a>
            <a class="dropdown-item" value="sad.mp3">Sad</a>
            <a class="dropdown-item" value="pensive.mp3">Pensive</a>
            <a class="dropdown-item" value="lullaby.mp3">Lullaby</a>
        </div>
    </div>

    <div class="carousel-item step4">
      <h4>Narrator Style</h4>
      <div class="card-body singer-select singer">
            <a class="dropdown-item" value="alan-rickman">Snape</a>
            <a class="dropdown-item" value="snoop-dogg">Snoop Dogg</a>
            <a class="dropdown-item" value="frenchy">French Narrator</a>
            <!-- <a class="dropdown-item" value="bugs-bunny-billy-west">Bugs Bunny</a> -->
            <a class="dropdown-item" value="betty-white">Betty White</a>
            <a class="dropdown-item" value="eminem-arpa2">Eminem</a>
            <a class="dropdown-item" value="shrek">Shrek</a>                
            <a class="dropdown-item" value="johnny-cash">Johnny Cash</a>
            <a class="dropdown-item" value="rizzo-the-rat">Rizzo the Rat</a>
            <a class="dropdown-item" value="spongebob-vocodes">Spongebob</a>
            <a class="dropdown-item" value="ariel">Ariel</a>
            <a class="dropdown-item" value="biggie-smalls">Notorious B.I.G.</a>
            <a class="dropdown-item" value="pooh-brock-baker">Pooh</a>
      </div>


    </div>
<!-- GENETATE LYRICS AFTER SUBMIT -->
    <div class="carousel-item step3">
      <h2>Generating...</h2>
      <div class="funky-spinner">
        <div class="spinner-circle"></div>
      </div>
    </div>

  
  <div class="carousel-item step4">
      <h2>Step 4: Edit Lyrics</h2>
      <h4 id="title"></h4>
      <textarea name="" class="entry-item" id="edit-lyrics" cols="30" rows="10"></textarea>
  </div>
  <!-- <h1>RESULTS</h1>
  with FLASK, get the cards/music block:
  <h4 id="final-title">Music</h4>
  <img src="" alt="" id="final-image">
  <p id="final-lyrics"></p> -->
  <div class="carousel-item step4">
    <h2>Generating...</h2>
    <div class="funky-spinner">
      <div class="spinner-circle"></div>
    </div>
    <p>Ringling the Dingle, this may take a few minutes...</p>
</div>
  <div class="carousel-item step6" id="music-case" >
    {% include 'home/music.html' %}
     

  </div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev" style="visibility: hidden;">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next" style="visibility: hidden;">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
<div class="progress custom-progress" style="height: 20px;">
  <div class="progress-bar custom-progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}
<script>
</script>


{% endblock javascripts %}
