{% extends "layouts/base.html" %}
<!-- Specific Page JS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

</style>
{% block content %}


<div class="row ringedingle">
    <div class="card ">
      <div class="card-header">
        <div class = "card-body" style="padding-top:50px">
        <a href="/"><h1 class="card-title">Ringle Dingle</h1></a>
        <p style="text-align: left; display:inline; float:left">AI-Narrated E-Greeting Poems</p><p id="demo-opener">View a Demo</p>
        </div>
        <div class="card-body song-style" style="text-align: center;">
        <!-- SONG STYLE -->
        
        <div id="demo" style="display:none">
          <h3>User Entered:</h3>
          <p>Voice: Allan Rickman</p>
          <p>"Tell Jim the 38 year old man happy birthday, and make sure he knows that I'm still thinking about him despite his cold, dead heart. Also, end the last line informing him that this poem is from Drew."</p>
          <h3>RingleDingle's Result:</h3>
          <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1494194230&color=%233c7698&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
          <p>Lyrics: <br>Jim, another year has passed, <br>
            And though your heart may seem like glass,<br>
            Know that I still think of you,<br>
            Despite the coldness you imbue.<br>
            <br><br>
            Happy birthday, my dear old friend,<br>
            May this day bring joy without end.<br>
            And though your heart may never thaw,<br>
            I'll love you still, forevermore.<br>
            
            This poem comes from Drew, so true,<br>
            To remind you that I'm thinking of you.</p>
            <p>(Mp3 and lyrics will be emailed to the recipient)</p>          
          </div>
        </div>
      </div>
      </div>

      <div class="first-phase">
      <div class="card-body singer song-style" style="text-align: center;">
        <h4>Step 1: Select a background mood</h4>
          <a class="dropdown-item" value="magic.mp3">Magical</a>
          <a class="dropdown-item" value="motiv.mp3">Thoughtful</a>
          <a class="dropdown-item" value="sad.mp3">Sad</a>
          <a class="dropdown-item" value="pensive.mp3">Pensive</a>
          <a class="dropdown-item" value="lullaby.mp3">Lullaby</a>
      </div>

        <div class="card-body singer-select singer" style="text-align: center;">
            <!-- SONG STYLE --><hr>
              <h4>Step 2: Select a Narrator</h4>
                <a class="dropdown-item" value="alan-rickman">Snape</a>
                <a class="dropdown-item" value="snoop-dogg">Snoop Dogg</a>
                <a class="dropdown-item" value="frenchy">French Narrator</a>
                <a class="dropdown-item" value="bugs-bunny-billy-west">Bugs Bunny</a>
                <a class="dropdown-item" value="betty-white">Betty White</a>
                <a class="dropdown-item" value="eminem-arpa2">Eminem</a>
                <a class="dropdown-item" value="shrek">Shrek</a>                
                <a class="dropdown-item" value="johnny-cash">Johnny Cash</a>
                <a class="dropdown-item" value="rizzo-the-rat">Rizzo the Rat</a>
                <a class="dropdown-item" value="spongebob-vocodes">Spongebob</a>
                <a class="dropdown-item" value="ariel">Ariel</a>
                <a class="dropdown-item" value="biggie-smalls">Notorious B.I.G.</a>
                <a class="dropdown-item" value="pooh-brock-baker">Pooh</a>
              </div>

        <!-- LYRIC GENERATION -->
   
            <!-- DREW PASTE -->
            <hr>
            <div class="card-body singer" style="text-align: center;" id="step3">
              <h4>Step 3: Enter an email to send to.</h4>          
                <div class="user-box">
                  <input type="text" id="submit-email" name="" required="">
                  <label>Separate multiple emails by comma.</label>
                </div><hr>
            </div>

            <div class="card-body singer" style="text-align: center;" id="spit-facts">
              <h4>Step 4: Enter facts about the person you're sending this to.</h4>
              <label>Just a few words about their name, what event this is for, and some fun facts you want to include. Nothing fancy.</label>
              <div class="user-box">
                <textarea id="raplyrics" placeholder="Today is Tommy's birthday. He plays soccer and isn't good at it. Please include the words 'You smell awful' at the end, and also make sure he knows it's from Drew."></textarea>
              </div>
              <div class="card-body holiday singer" style="text-align: center; display:none" id="occasion">
                <h5>(Optional) What occasion is this for?</h5>
                <a class="dropdown-item selected">None</a>
                <a class="dropdown-item">Birthday</a>
                <a class="dropdown-item">Thank You</a>
                <a class="dropdown-item">Mother's Day</a>
                <a class="dropdown-item">Religious Holiday</a>
                </div>
            </div>

          </div>


            <div id="lyrics-box" class="submit-button">
              <a href="#" id="generate-lyrics">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div id="lyric-spinner" class="spinner" style="display: none; text-align: center; background-color: aquamarine; border-radius: 50%;"></div>
                <p style="font-size: 14px;">Step 5: Generate Lyrics</p> <p class="tiny">(Lyrics will generate below)</p> 
              </a>
            </div>




    <div class="card-body singer" style="text-align: center;">
      <p id="dalle-request" style="display: none;">None</p>
        <div style="text-align: center; display:none" id="results">
                <h4 id="title"></h4>

                <div style="text-align: center; display:none" class="final-results">
                  <img src="static\media\ringledingle_na.png" id="result-image" style="max-width: 50%" alt="RingleDingleResult">
                </div>


                <textarea name="" id="response"  style="text-align: center; display: inline-block;"></textarea>
                <label id="last-chance">Feel free to edit the above words before submitting to audio.</label>

            <div style="text-align:center;  padding:20px; display:none" class="final-results" id="playpause">
                  <audio id="myAudio" style="text-align: center; width:100vw;">
                    <source src="static/media/output.mp3" type="audio/mpeg">
                  </audio>
                  <button id="play" onclick="playAudio()" style="text-align: center; padding:20px">Play</button>
                  <button onclick="stopAudio()" style="text-align: center; padding:20px">Stop</button>
            </div>

              <div class="final-results" id="share-email-div" style="display:none">
              
                <p>Share this with others (comma separated, press "Enter" to submit):</p>
                <div id="email-spinner" class="spinner" style="display: none; text-align: center; background-color: aquamarine; border-radius: 50%;"></div>

                <input type="text" id="share-email">
                <p id="email-success" style="display:none">Your message has been sent!</p>

                
                
              </div>
      </div>
    </div>


      <div id="submit-box" class="submit-button" style="display:none">
        <a href="#" id="ringlesubmit">
          <div id="spinner" class="spinner" style="display: none; text-align: center; background-color: aquamarine; border-radius: 50%;"></div>
          <p style="font-size: 18px;"> Step 6: Generate RingleDingle</p> <p class="tiny">(Audio will generate based off of above lyrics)</p> 
        </a>
  </div>
  <hr>
  <div class="restart-button">
    <p><a href="/">Start Over</a></p>
  </div>

    </div>


</div>
<script>
  var audio = document.getElementById("myAudio");

  function playAudio() {
    audio.load();
    audio.play();
  }

  function stopAudio() {
    audio.pause();
    audio.currentTime = 0;
  }
</script>
</div>


{% endblock content %}

